
.card {
    display: flex;
    background-color: antiquewhite;
    border: 5px solid black;
    width: auto;
    border-radius: 10px;
}
img {
    width: 40%;
    height: 40%;
    aspect-ratio: 1;
    border-radius: 10px;
    border: 1px solid white;
}
.text {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}
h4 {
    margin: 0;
}
p {
    font-size: xx-small;
}